h1, h2, h3 {
    margin: 0;
    padding: 0; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased; }
*::before, *::after {
    display: block; }

a {
    text-decoration: none; }

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background-color: #000000;
    overflow-x: hidden; }

section {
    position: relative;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    margin: 0 !important; }

.btn {
    align-items: center;
    width: 100%;
    background-color: #5687A6;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    color: #F2F2F2;
    text-transform: uppercase;
    font-size: 0.8rem;
    transition: background-color 0.2s ease-in-out; }
.btn:hover {
    background-color: #709ab5; }

.intro-mask {
    display: flex;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #1b1b1b;
    z-index: 1;
    opacity: 0.8;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 3px; }

.intro-background {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    height: 100vh;
    position: absolute; }
.intro-background img {
    width: 100%;
    object-fit: cover; }

.container {
    display: flex;
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 15px;
    flex-flow: row wrap; }

.nav__btn {
    font-size: 0; }
.nav__btn span {
    font-size: 0.6rem; }
.nav__btn:after {
    display: none; }

input {
    width: 100%;
    background-color: #5687A6;
    padding: 10px 10px;
    border-radius: 10px;
    color: #F2F2F2;
    font-size: 1rem; }

.header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-height: 85px;
    z-index: 5;
    background-color: #011C40;
    top: 0;
    left: 0;
    overflow: hidden; }
.header .header-navigation {
    width: 100%;
    transition: all 0.4s ease;
    border-radius: 15px;
    max-width: 500px;
    margin: 0 auto;
    align-items: center;
    display: flex; }
.header .header-navigation .navigation-container {
    width: 100%;
    display: flex;
    margin: 0 auto;
    max-width: 500px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
.header__logo {
    display: flex;
    width: 100%;
    max-width: 150px;
    align-items: center; }
.header__label {
    font-size: 1.2rem;
    font-weight: 700;
    color: #F2F2F2;
    font-family: "Montserrat", sans-serif; }
.header .nav__menu {
    width: 100%;
    display: flex;
    justify-content: space-between; }
.header .nav__menu .nav__item {
    position: relative;
    transition: border-bottom-color 0.2s ease-in-out;
    font-size: 0.8rem;
    color: #F2F2F2;
    text-transform: uppercase; }
.header .nav__menu .nav__item:hover {
    border-bottom: 1px solid #bca01a; }
.header .header__btn {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 130px; }
.header .header__btn .contact__btn {
    align-items: center;
    width: 100%;
    background-color: #5687A6;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    color: #F2F2F2;
    text-transform: uppercase;
    font-size: 0.8rem;
    transition: background-color 0.2s ease-in-out; }
.header .header__btn .contact__btn:hover {
    background-color: #709ab5; }
.header .header-burger-btn {
    display: none; }

.white-popup {
    position: relative;
    max-width: 600px;
    margin: auto;
    border-radius: 40px; }
.white-popup .wpcf7-form-submit {
    font-size: 1rem;
    text-transform: uppercase;
    background-color: #bca01a; }
.white-popup .popupContent {
    background-color: #F2F2F2;
    padding: 10px; }
.white-popup label {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: #011C40; }
.white-popup textarea {
    width: 100%;
    background-color: #5687A6;
    color: #F2F2F2; }
.white-popup .wpcf7-form .wpcf7-form-submit {
    align-items: center;
    width: 100%;
    background-color: #5687A6;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    color: #F2F2F2;
    text-transform: uppercase;
    font-size: 1rem;
    transition: background-color 0.2s ease-in-out; }

@media screen and (max-width: 1024px) {
    .header {
        position: fixed;
        border-radius: 15px;
        z-index: 10; }
    .header .header__logo {
        display: none; }
    .header .header__btn {
        width: 100%;
        margin: 0 auto;
        transform: translate(210px, 0); }
    .header .header-burger-btn {
        margin-top: 20px;
        display: block;
        width: 70px;
        height: 100%;
        max-height: 40px;
        padding-left: 36px;
        z-index: 11;
        align-items: center; }
    .header .header-burger-btn .icon {
        padding-top: 20px;
        position: relative;
        width: 100%;
        height: 100%;
        user-select: none; }
    .header .header-burger-btn .icon .rect {
        margin: 0;
        width: 100%;
        height: 2px;
        background-color: #bca01a; }
    .header .header-burger-btn .icon .rect.second {
        margin: 8px 0; }
    .header .header-navigation {
        display: none;
        position: fixed;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        background-color: #011C40;
        z-index: 10;
        width: 100vw;
        transition: all 0.4s ease; }
    .header .header-navigation .navigation-container {
        padding-top: 40px;
        flex-flow: column nowrap;
        justify-content: flex-start;
        transition: all 0.4s ease;
        height: 100%; }
    .header .header-navigation .navigation-container .nav__menu {
        padding-top: 40px;
        flex-flow: column nowrap;
        justify-content: space-around;
        height: 100%; }
    .header .header-navigation .navigation-container .nav__menu .nav__item {
        transition: all 0.4s ease;
        display: block;
        color: #bca01a;
        font-size: 1rem;
        font-weight: bold;
        padding: 0;
        cursor: pointer;
        margin: 0 auto; }
    .header .header-navigation .navigation-container .intro-navigation {
        width: 100%;
        height: 64px;
        padding: 0 40px; } }
@media screen and (max-width: 420px) {
    .header .header__logo {
        display: none; }
    .header .header__btn {
        transform: translate(70px, 0); }
    .header .header-burger-btn {
        display: block;
        max-height: 35px;
        padding-left: 25px; }
    .header .header-burger-btn .icon {
        padding-top: 13px; } }
.intro {
    display: flex;
    border-bottom: 8px solid #222222;
    overflow: hidden; }
.intro .content-wrapper {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    height: 100%; }
.intro__content {
    margin-top: 200px;
    width: 50%;
    height: 100%;
    max-height: 600px;
    max-width: 500px;
    z-index: 5; }
.intro__title {
    display: flex;
    max-width: 500px;
    margin-bottom: 20px; }
.intro__label {
    font-size: 2.2rem;
    color: #F2F2F2;
    font-weight: 700;
    line-height: 2.6rem; }
.intro__description {
    font-size: 1rem;
    color: #F2F2F2;
    margin-bottom: 10px; }
.intro__description:last-child {
    margin-bottom: 0; }
.intro__btn {
    margin-top: 80px;
    width: 100%;
    max-width: 250px; }
.intro__btn .btn {
    padding: 15px 85px; }
.intro__image {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 50%;
    max-width: 600px;
    height: 100%;
    max-height: 400px;
    margin: 0 auto;
    margin-top: 200px;
    z-index: 5; }
.intro__image .intro__image-item {
    width: 100%; }
.intro__image .intro__image-item img {
    width: 100%;
    object-fit: cover; }

@media screen and (max-width: 1024px) {
    .intro {
        height: 100vh; }
    .intro .intro__content {
        margin: 0 auto;
        margin-top: 80px;
        width: 100%;
        max-width: 600px;
        height: 100%;
        max-height: 360px; }
    .intro .intro__content .intro__label {
        font-size: 1.7rem;
        line-height: 1.9rem; }
    .intro .intro__content .intro__btn {
        margin-top: 40px; }
    .intro .intro__image {
        margin: 0 auto;
        width: 100%; }
    .intro .container {
        max-width: 700px;
        flex-flow: wrap;
        flex-direction: column-reverse; } }
@media screen and (max-width: 420px) {
    .intro .container {
        max-width: 380px;
        flex-flow: wrap;
        flex-direction: column-reverse; }
    .intro .intro__description:nth-child(2) {
        display: none; }
    .intro .intro__description:nth-child(3) {
        display: none; }
    .intro .intro__content {
        padding-top: 40px;
        width: 100%;
        max-height: 265px;
        text-align: center; }
    .intro .intro__content .intro__btn {
        min-width: 100%; }
    .intro .intro__image {
        width: 100%;
        max-height: 220px; } }
.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 5;
    border-bottom: 8px solid #222222; }
.about .about__title-box {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 75px;
    position: relative;
    margin: 0 auto;
    margin-top: 70px;
    text-align: center; }
.about .about__title-box .about__title {
    font-size: 2.4rem;
    color: #F2F2F2;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 4px;
    font-weight: 700;
    margin: 0 auto; }
.about .about__title-box .about__title::after {
    content: '';
    position: absolute;
    left: 45%;
    top: 60px;
    width: 130px;
    height: 3px;
    background-color: #bca01a; }
.about__left-side {
    position: relative;
    margin-top: 150px;
    display: flex;
    width: 50%;
    height: 100%;
    max-width: 500px; }
.about__left-side .about__image {
    width: 100%;
    height: 100%;
    max-height: 450px; }
.about__left-side .about__image img {
    width: 100%;
    object-fit: cover; }
.about__left-side .about__image::before {
    content: '';
    position: absolute;
    right: -1px;
    top: 45px;
    width: 2px;
    height: 280px;
    background-color: #F2F2F2; }
.about__right-side {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    margin-top: 180px;
    padding-left: 30px; }
.about__right-side .right__side-title {
    font-size: 1.8rem;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    text-align: center;
    color: #F2F2F2;
    margin: 0 auto;
    font-weight: 400;
    margin-bottom: 20px; }
.about__right-side .right__side-description {
    font-size: 1.1rem;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    color: #F2F2F2;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px; }
.about__right-side .right__side-link {
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex; }
.about__right-side .right__side-link .about-btn {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    background-color: #bca01a;
    transition: all 0.2s ease; }
.about__right-side .right__side-link .about-btn:hover {
    transform: scale(1.1); }

@media screen and (max-width: 1024px) {
    .about {
        height: 100%; }
    .about .about__title-box {
        margin-top: 50px; }
    .about .about__title-box .about__title::after {
        left: 40%; }
    .about .container {
        max-width: 700px;
        flex-flow: wrap;
        flex-direction: column; }
    .about .container .about__left-side {
        margin: 50px auto 0; }
    .about .container .about__left-side .about__image::before {
        display: none; }
    .about .container .about__right-side {
        margin-top: 0;
        width: 100%; }
    .about .container .about__right-side .right__side-description {
        padding: 0 30px; }
    .about .container .about__right-side .right__side-link {
        margin-top: 20px;
        margin-bottom: 40px; } }
@media screen and (max-width: 420px) {
    .about .about__title-box .about__title::after {
        left: 30%; }
    .about .about__right-side {
        padding-left: 0; }
    .about .about__right-side .right__side-title {
        font-size: 1.6rem; }
    .about .about__right-side .right__side-description {
        font-size: 0.9rem; }
    .about .about__right-side .right__side-description:nth-child(2) {
        display: none; } }
.films {
    position: relative;
    width: 100%;
    display: flex;
    z-index: 5;
    border-bottom: 8px solid #222222; }
.films__title-box {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 75px;
    position: relative;
    margin: 0 auto;
    margin-top: 70px;
    text-align: center; }
.films .films__title {
    font-size: 2.4rem;
    color: #F2F2F2;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 4px;
    font-weight: 700;
    margin: 0 auto; }
.films .films__title::after {
    content: '';
    position: absolute;
    left: 44%;
    top: 60px;
    width: 150px;
    height: 3px;
    background-color: #bca01a; }
.films .films__content {
    position: relative;
    width: 100%;
    padding: 0 90px;
    height: 440px; }
.films .films__content .swiper-container {
    height: 100%;
    overflow: hidden; }
.films .films__content .swiper-container .swiper-slide {
    position: relative;
    height: 100%;
    width: 100%; }
.films .films__content .swiper-container .swiper-slide .swiper-title {
    width: 100%;
    color: #bca01a;
    font-size: 1rem;
    font-weight: 700;
    position: absolute;
    left: 0;
    top: 90%; }
.films .films__content .swiper-container .swiper-slide .swiper-item {
    width: 100%;
    max-width: 285px;
    height: 100%;
    overflow: hidden;
    max-height: 390px; }
.films .films__content .swiper-container .swiper-slide .swiper-item img {
    width: 100%;
    height: 100%;
    max-height: 390px;
    object-fit: cover; }
.films .films__content .nav__btn {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 0.6rem;
    line-height: 13px;
    text-transform: uppercase;
    color: #F2F2F2;
    outline: none;
    opacity: 1;
    z-index: 5;
    transition: all 0.4s ease;
    cursor: pointer;
    user-select: none; }
.films .films__content .nav__btn span {
    position: relative;
    z-index: 5; }
.films .films__content .nav__btn::before {
    position: absolute;
    content: '';
    width: 55px;
    height: 55px;
    top: -30%;
    left: -5px;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s linear;
    z-index: 1; }
.films .films__content .nav__btn:hover span {
    transition: all 0.3s linear;
    color: #011C40; }
.films .films__content .nav__btn:hover::before {
    opacity: 1;
    background-color: #bca01a;
    color: #F2F2F2; }
.films .films__content .nav__btn.swiper-button-disabled {
    opacity: 0.5; }
.films .films__content .nav__btn.swiper-button-prev {
    left: 5px; }
.films .films__content .nav__btn.swiper-button-next {
    right: 15px; }
.films .films__content .swiper-slide {
    position: relative;
    height: 100%;
    width: 250px; }

@media screen and (max-width: 1024px) {
    .films .container {
        max-width: 700px;
        flex-flow: wrap;
        flex-direction: column; }
    .films .films__content {
        margin-top: 150px;
        text-align: center; }
    .films .films__title::after {
        left: 39%; } }
@media screen and (max-width: 420px) {
    .films .container {
        max-width: 380px;
        flex-flow: wrap; }
    .films .films__content {
        margin-top: 0; }
    .films .films__content .swiper-container .swiper-slide .swiper-item {
        max-height: 290px; }
    .films .films__title-box .films__title::after {
        left: 30%; } }
.news {
    border-bottom: 8px solid #222222; }
.news .title-box {
    display: flex;
    width: 70%;
    z-index: 5;
    align-items: center;
    height: 100%;
    max-height: 700px;
    margin-top: 30px; }
.news .title-box .left-side {
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    flex-flow: row wrap; }
.news .title-box .left-side .left-label {
    margin-left: 25px;
    font-size: 1.5rem;
    color: #F2F2F2;
    font-family: "Montserrat", sans-serif; }
.news .title-box .left-side .content-wrapper {
    display: flex;
    width: 100%;
    margin-top: 30px; }
.news .title-box .left-side .content-wrapper .content-box {
    display: flex;
    width: 33%;
    flex-flow: column; }
.news .title-box .left-side .content-wrapper .content-image {
    width: 100%;
    max-width: 225px;
    height: 100%;
    max-height: 300px;
    transition: all 0.3s ease; }
.news .title-box .left-side .content-wrapper .content-image img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    max-height: 300px; }
.news .title-box .left-side .content-wrapper .content-image:hover {
    transform: scale(0.9); }
.news .title-box .left-side .content-wrapper .content-label {
    margin-top: 30px;
    color: #F2F2F2;
    font-size: 1.2rem;
    font-weight: 700;
    width: 100%;
    max-width: 300px; }
.news .title-box .left-side .content-wrapper .content-description {
    margin-top: 10px;
    color: #F2F2F2;
    font-size: 0.9rem;
    width: 100%;
    max-width: 400px; }
.news .right-side {
    margin-top: 80px;
    z-index: 5;
    display: flex;
    width: 30%;
    height: 100%;
    align-items: center;
    flex-direction: column; }
.news .right-side .right-label {
    font-size: 1.5rem;
    color: #bca01a;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px; }
.news .right-side .right-content-box {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center; }
.news .right-side .right-content-box .right-image {
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 500px; }
.news .right-side .right-content-box .right-image img {
    width: 100%;
    object-fit: cover; }
.news .right-side .right-content-box .right-title {
    margin: 20px 0;
    font-size: 1.5rem;
    color: #bca01a;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-align: center; }
.news .right-side .right-content-box .btn {
    width: 100%;
    max-width: 250px; }

@media screen and (max-width: 1024px) {
    .news .container {
        max-width: 700px;
        flex-flow: wrap;
        flex-direction: column; }
    .news .title-box {
        width: 100%; }
    .news .title-box .left-side .content-wrapper .content-box {
        margin: 0 auto;
        width: 45%;
        text-align: center; }
    .news .title-box .left-side .content-wrapper .content-box:nth-child(2) {
        display: none; }
    .news .title-box .left-side .content-wrapper .content-box .content-image {
        border-radius: 50%;
        box-shadow: 1px -10px 25px 3px #5687A6;
        max-width: 120px;
        max-height: 150px;
        margin: 0 auto; }
    .news .title-box .left-side .content-wrapper .content-box .content-image img {
        border-radius: 60%; }
    .news .right-side {
        margin-top: 25px;
        width: 100%; }
    .news .right-side .right-content-box .right-image {
        max-width: 190px; }
    .news .right-side .right-content-box .btn {
        max-width: 170px; } }
@media screen and (max-width: 420px) {
    .news .title-box .left-side .content-wrapper .content-box {
        width: 100%; }
    .news .title-box .left-side .content-wrapper .content-box:nth-child(1) {
        display: none; }
    .news .title-box .left-side .content-wrapper .content-box .content-image {
        width: 100px;
        height: 120px; }
    .news .title-box .left-side .content-wrapper .content-box .content-label {
        margin-top: 15px;
        font-size: 1rem;
        width: 100%;
        min-width: 100%; }
    .news .title-box .left-side .content-wrapper .content-box .content-description {
        margin-top: 15px;
        min-width: 100%;
        font-size: 0.8rem; }
    .news .right-side .right-label {
        font-size: 1.2rem; }
    .news .right-side .right-content-box .right-image {
        max-width: 125px; }
    .news .right-side .right-content-box .right-title {
        margin: 5px 0;
        font-size: 1.2rem; }
    .news .right-side .right-content-box .btn {
        font-size: 0.6rem;
        padding: 7px 10px;
        max-width: 130px; } }
.reviews {
    width: 100%;
    display: flex; }
.reviews .reviews__title-box {
    position: relative;
    margin-top: 70px;
    width: 100%;
    display: flex;
    height: 100%;
    max-height: 100px;
    text-align: center; }
.reviews .reviews__title-box .reviews-title {
    font-size: 2.4rem;
    font-family: "Montserrat", sans-serif;
    color: #F2F2F2;
    margin: 0 auto;
    text-transform: uppercase; }
.reviews .reviews__title-box .reviews-title::after {
    content: '';
    position: absolute;
    left: 44%;
    top: 60px;
    width: 150px;
    height: 3px;
    background-color: #bca01a; }
.reviews .films__content {
    width: 100%;
    padding: 0 90px;
    overflow: hidden; }
.reviews .content__wrapper {
    position: relative;
    width: 100%;
    padding: 0 90px; }
.reviews .content__wrapper .swiper-container {
    height: 100%;
    overflow: hidden;
    text-align: center; }
.reviews .content__wrapper .swiper-container .swiper-slide {
    position: relative;
    max-height: 400px;
    width: 300px;
    user-select: none; }
.reviews .content__wrapper .swiper-container .swiper-slide .reviews-name {
    color: #5687A6; }
.reviews .content__wrapper .swiper-container .swiper-slide .reviews-description {
    margin-top: 20px;
    color: #F2F2F2;
    width: 100%; }
.reviews .content__wrapper .swiper-container .swiper-slide .reviews-image {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    height: 300px;
    margin-bottom: 40px; }
.reviews .content__wrapper .swiper-container .swiper-slide .reviews-image img {
    width: 100%;
    object-fit: cover;
    height: 100%; }
.reviews .content__wrapper .nav__btn {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 0.6rem;
    line-height: 13px;
    text-transform: uppercase;
    color: #F2F2F2;
    outline: none;
    opacity: 1;
    z-index: 5;
    transition: all 0.4s ease;
    cursor: pointer;
    user-select: none; }
.reviews .content__wrapper .nav__btn span {
    position: relative;
    z-index: 5; }
.reviews .content__wrapper .nav__btn::before {
    position: absolute;
    content: '';
    width: 55px;
    height: 55px;
    top: -30%;
    left: -5px;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s linear;
    z-index: 1; }
.reviews .content__wrapper .nav__btn:hover span {
    transition: all 0.3s linear;
    color: #011C40; }
.reviews .content__wrapper .nav__btn:hover::before {
    opacity: 1;
    background-color: #bca01a;
    color: #F2F2F2; }
.reviews .content__wrapper .nav__btn.swiper-button-disabled {
    opacity: 0.5; }
.reviews .content__wrapper .nav__btn.swiper-button-prev {
    left: 5px; }
.reviews .content__wrapper .nav__btn.swiper-button-next {
    right: 15px; }

@media screen and (max-width: 1024px) {
    .reviews .container {
        max-width: 700px;
        flex-flow: wrap;
        flex-direction: column; }
    .reviews .reviews__title-box {
        max-height: 175px; }
    .reviews .reviews__title-box .reviews-title::after {
        left: 39%; }
    .reviews .content__wrapper {
        margin-top: 70px; } }
@media screen and (max-width: 420px) {
    .reviews .container {
        max-width: 380px;
        flex-flow: wrap; }
    .reviews .reviews__title-box {
        max-height: 75px; }
    .reviews .reviews__title-box .reviews-title::after {
        left: 30%; }
    .reviews .content__wrapper {
        margin-top: 0; }
    .reviews .footer .footer__socials {
        max-width: 170px; } }
.footer {
    align-items: center;
    display: flex;
    width: 100%;
    background-color: #011C40;
    height: 65px;
    flex-flow: row nowrap; }
.footer .footer-content {
    width: 100%;
    display: flex;
    align-items: center; }
.footer__label {
    align-items: center;
    width: 100%;
    max-width: 200px;
    display: flex; }
.footer__author {
    font-size: 1.1rem;
    color: #F2F2F2;
    font-weight: 700; }
.footer__socials {
    padding: 0 15px;
    width: 100%;
    max-width: 900px;
    display: flex;
    margin: 0 auto;
    justify-content: flex-end; }
.footer__socials .social__item {
    display: block;
    width: 100%;
    max-width: 32px;
    height: 32px;
    margin-right: 15px;
    transition: all 0.3s linear;
    background: url("app/images/src/telegram.png"); }
.footer__socials .social__item:nth-child(2) {
    background: url("app/images/src/facebook.png"); }
.footer__socials .social__item:last-child {
    margin-right: 0;
    background: url("app/images/src/instagram-sketched.png"); }
.footer__socials .social__item img {
    width: 100%;
    object-fit: cover; }
.footer__socials .social__item:hover {
    transform: scale(1.2); }

footer {
    height: 75px;
    top: 50px;
    overflow: hidden; }

@media screen and (max-width: 1024px) {
    .footer {
        height: 70px; }
    .footer .footer__socials {
        max-width: 400px; } }
@media screen and (max-width: 420px) {
    .footer .footer-content {
        width: 100%;
        display: flex; }
    .footer .footer__socials {
        max-width: 170px; } }

/*# sourceMappingURL=main.css.map */
