@import "variables";

.films {
    position: relative;
    width: 100%;
    display: flex;
    z-index: 5;
    border-bottom: 8px solid #222222;

    &__title-box {
        display: flex;
        width: 100%;
        height: 100%;
        max-height: 75px;
        position: relative;
        margin: 0 auto;
        margin-top: 70px;
        text-align: center;

    }

    .films__title {
        font-size: 2.4rem;
        color: $white;
        text-transform: uppercase;
        font-family: $font-family-title;
        letter-spacing: 4px;
        font-weight: 700;
        margin: 0 auto;
        &::after {
            content: '';
            position: absolute;
            left: 44%;
            top: 60px;
            width: 150px;
            height: 3px;
            background-color: $yellow;
        }

    }

    .films__content {
        position: relative;
        width: 100%;
        padding: 0 90px;
        height: 440px;

        .swiper-container {
            height: 100%;
            overflow: hidden;


            .swiper-slide {
                position: relative;
                height: 100%;
                width: 100%;
                .swiper-title {
                    width: 100%;
                    color: $yellow;
                    font-size: 1rem;
                    font-weight: 700;
                    position: absolute;
                    left: 0;
                    top: 90%;

                }


                .swiper-item {
                    width: 100%;
                    max-width: 285px;
                    height: 100%;
                    overflow: hidden;
                    max-height: 390px;
                    img {
                        width: 100%;
                        height: 100%;
                        max-height: 390px;
                        object-fit: cover;
                    }


                }
            }
        }

        .nav__btn {
            display: inline-block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding: 10px 5px;
            font-family: $font-family-title;
            font-weight: bold;
            font-size: 0.6rem;
            line-height: 13px;
            text-transform: uppercase;
            color: $white;
            outline: none;
            opacity: 1;
            z-index: 5;
            transition: all 0.4s ease;
            cursor: pointer;
            user-select: none;
            span {
                position: relative;
                z-index: 5;
            }

            &::before {
                position: absolute;
                content: '';
                width: 55px;
                height: 55px;
                top: -30%;
                left: -5px;
                border-radius: 50%;
                opacity: 0;
                transition: all 0.3s linear;
                z-index: 1;

            }

            &:hover {
                span {
                    transition: all 0.3s linear;
                    color: $black;
                }

                &::before {
                    opacity: 1;
                    background-color: $yellow;
                    color: $white;

                }
            }


            &.swiper-button-disabled {
                opacity: 0.5;
            }

            &.swiper-button-prev {
                left: 5px;
            }

            &.swiper-button-next {
                right: 15px;
            }
        }
        .swiper-slide {
            position: relative;
            height: 100%;
            width: 250px;


        }


    }


}

@media screen and (max-width: 1024px) {
    .films {
        .container {
            max-width: 700px;
            flex-flow: wrap;
            flex-direction: column;
        }
        .films__content {
            margin-top: 150px;
            text-align: center;
        }
        .films__title-box {

        }
        .films__title {
            &::after {
                left: 39%;
            }
        }
    }
}

@media screen and (max-width: 420px) {
    .films {
        .container {
            max-width: 380px;
            flex-flow: wrap;
        }
        .films__content {
            margin-top: 0;
            .swiper-container {
                .swiper-slide {
                    .swiper-item {
                        max-height: 290px;
                    }
                }
            }
        }
        .films__title-box {
            .films__title {
                &::after {
                    left: 30%;
                }
            }
        }
    }
}