@import "variables";
.footer {
    align-items: center;
    display: flex;
    width: 100%;
    background-color: $black;
    height: 65px;
    flex-flow: row nowrap;
    .footer-content {
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__label {
        align-items: center;
        width: 100%;
        max-width: 200px;
        display: flex;
    }
    &__author {
        font-size: 1.1rem;
        color: $white;
        font-weight: 700;
    }
    &__socials {
        padding: 0 15px;
        width: 100%;
        max-width: 900px;
        display: flex;
        margin: 0 auto;
        justify-content: flex-end;

        .social__item {
            display: block;
            width: 100%;
            max-width: 32px;
            height: 32px;
            margin-right: 15px;
            transition: all 0.3s linear;
            background: url("app/images/src/telegram.png");
            &:nth-child(2) {
                background: url("app/images/src/facebook.png");
            }
            &:last-child {
                margin-right: 0;
                background: url("app/images/src/instagram-sketched.png");
            }
            img {
                width: 100%;
                object-fit: cover;
            }
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}
footer {
    height: 75px;
    top: 50px;
    overflow: hidden;
}
@media screen and (max-width: 1024px) {
    .footer {
        height: 70px;
        .footer__socials {
            max-width: 400px;
        }
    }
}
@media screen and (max-width: 420px) {
    .footer {
        .footer-content {
            width: 100%;
            display: flex;
        }
        .footer__socials {
            max-width: 170px;
        }
    }
}