@import "variables";
input {
    width: 100%;
    background-color: $blue;
    padding: 10px 10px;
    border-radius: 10px;
    color: $white;
    font-size: 1rem;

}
.header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-height: 85px;
    z-index: 5;
    background-color: $black;
    top: 0;
    left: 0;
    overflow: hidden;

    .header-navigation {
        width: 100%;
        transition: all 0.4s ease;
        border-radius: 15px;
        max-width: 500px;
        margin: 0 auto;
        align-items: center;
        display: flex;

        .navigation-container {
            width: 100%;
            display: flex;
            margin: 0 auto;
            max-width: 500px;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

    }

    &__logo {
        display: flex;
        width: 100%;
        max-width: 150px;
        align-items: center;

    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        color: $white;
        font-family: $font-family-title;
    }

    .nav__menu {
        width: 100%;
        display: flex;
        justify-content: space-between;


        .nav__item {
            position: relative;
            transition: border-bottom-color 0.2s ease-in-out;
            font-size: 0.8rem;
            color: $white;
            text-transform: uppercase;

            &:hover {
                border-bottom: 1px solid $yellow;
            }
        }

    }

    .header__btn {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 130px;


        .contact__btn {
            align-items: center;
            width: 100%;
            background-color: $blue;
            padding: 10px 15px;
            border-radius: 10px;
            margin: 0 auto;
            text-align: center;
            color: $white;
            text-transform: uppercase;
            font-size: 0.8rem;
            transition: background-color 0.2s ease-in-out;

            &:hover {
                background-color: lighten($blue, 8%);
            }
        }
    }

    .header-burger-btn {
        display: none;
    }


}

.white-popup {
    position: relative;
    max-width: 600px;
    margin: auto;
    border-radius: 40px;
    .wpcf7-form-submit {
        font-size: 1rem;
        text-transform: uppercase;
        background-color: $yellow;
    }


    .popupContent {
        background-color: $white;
        padding: 10px;
    }
    label {
        font-family: $font-family-title;
        font-size: 1rem;
        color: $black;
    }

    textarea {
        width: 100%;
        background-color: $blue;
        color: $white;
    }
    .wpcf7-form {
        .wpcf7-form-submit {
            align-items: center;
            width: 100%;
            background-color: $blue;
            padding: 10px 15px;
            border-radius: 10px;
            margin: 0 auto;
            text-align: center;
            color: $white;
            text-transform: uppercase;
            font-size: 1rem;
            transition: background-color 0.2s ease-in-out;
        }
    }


}

@media screen and (max-width: 1024px) {
    .header {
        position: fixed;
        border-radius: 15px;
        z-index: 10;

        .header__logo {
            display: none;
        }

        .header__btn {
            width: 100%;
            margin: 0 auto;
            transform: translate(210px, 0);
        }

        .header-burger-btn {
            margin-top: 20px;
            display: block;
            width: 70px;
            height: 100%;
            max-height: 40px;
            padding-left: 36px;
            z-index: 11;
            align-items: center;

            .icon {
                padding-top: 20px;
                position: relative;
                width: 100%;
                height: 100%;
                user-select: none;

                .rect {
                    margin: 0;
                    width: 100%;
                    height: 2px;
                    background-color: $yellow;

                    &.second {
                        margin: 8px 0;
                    }

                }

            }

        }

        .header-navigation {
            display: none;
            position: fixed;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            background-color: $black;
            z-index: 10;
            width: 100vw;
            transition: all 0.4s ease;

            .navigation-container {
                padding-top: 40px;
                flex-flow: column nowrap;
                justify-content: flex-start;
                transition: all 0.4s ease;
                height: 100%;

                .nav__menu {
                    padding-top: 40px;
                    flex-flow: column nowrap;
                    justify-content: space-around;
                    height: 100%;

                    .nav__item {
                        transition: all 0.4s ease;
                        display: block;
                        color: $yellow;
                        font-size: 1rem;
                        font-weight: bold;
                        padding: 0;
                        cursor: pointer;
                        margin: 0 auto;

                    }
                }

                .intro-navigation {
                    width: 100%;
                    height: 64px;
                    padding: 0 40px;

                }

            }

        }
    }
}

@media screen and (max-width: 420px) {
    .header {
        .header__logo {
            display: none;
        }

        .header__btn {
            transform: translate(70px, 0);
        }

        .header-burger-btn {
            display: block;
            max-height: 35px;
            padding-left: 25px;

            .icon {
                padding-top: 13px;
            }
        }
    }
}