@import "variables";

.reviews {
    width: 100%;
    display: flex;
    .reviews__title-box {
        position: relative;
        margin-top: 70px;
        width: 100%;
        display: flex;
        height: 100%;
        max-height: 100px;
        text-align: center;
        .reviews-title {
            font-size: 2.4rem;
            font-family: $font-family-title;
            color: $white;
            margin: 0 auto;
            text-transform: uppercase;
            &::after {
                content: '';
                position: absolute;
                left: 44%;
                top: 60px;
                width: 150px;
                height: 3px;
                background-color: $yellow;
            }
        }
    }
    .films__content {
        width: 100%;
        padding: 0 90px;
        overflow: hidden;
    }
    .content__wrapper {
        position: relative;
        width: 100%;
        padding: 0 90px;
        .swiper-container {
            height: 100%;
            overflow: hidden;
            text-align: center;
            .swiper-slide {
                position: relative;
                max-height: 400px;
                width: 300px;
                user-select: none;

                .reviews-name {
                    color: $blue;
                }
                .reviews-description {
                    margin-top: 20px;
                    color: $white;
                    width: 100%;
                }
                .reviews-image {
                    margin: 0 auto;
                    max-width: 500px;
                    width: 100%;
                    height: 300px;
                    margin-bottom: 40px;

                    img {
                        width: 100%;
                        object-fit: cover;
                        height: 100%;
                    }

                }
            }
        }
        .nav__btn {
            display: inline-block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding: 10px 5px;
            font-family: $font-family-title;
            font-weight: bold;
            font-size: 0.6rem;
            line-height: 13px;
            text-transform: uppercase;
            color: $white;
            outline: none;
            opacity: 1;
            z-index: 5;
            transition: all 0.4s ease;
            cursor: pointer;
            user-select: none;
            span {
                position: relative;
                z-index: 5;
            }

            &::before {
                position: absolute;
                content: '';
                width: 55px;
                height: 55px;
                top: -30%;
                left: -5px;
                border-radius: 50%;
                opacity: 0;
                transition: all 0.3s linear;
                z-index: 1;

            }

            &:hover {
                span {
                    transition: all 0.3s linear;
                    color: $black;
                }

                &::before {
                    opacity: 1;
                    background-color: $yellow;
                    color: $white;

                }
            }


            &.swiper-button-disabled {
                opacity: 0.5;
            }

            &.swiper-button-prev {
                left: 5px;
            }

            &.swiper-button-next {
                right: 15px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .reviews {
        .container {
            max-width: 700px;
            flex-flow: wrap;
            flex-direction: column;
        }
        .reviews__title-box {
            max-height: 175px;
            .reviews-title {
                &::after {
                    left: 39%;
                }
            }
        }
        .content__wrapper {
            margin-top: 70px;
        }
    }
}
@media screen and (max-width: 420px) {
    .reviews {
        .container {
            max-width: 380px;
            flex-flow: wrap;
        }
        .reviews__title-box {
            max-height: 75px;
            .reviews-title {
                &::after {
                    left: 30%;
                }
            }
        }
        .content__wrapper {
            margin-top: 0;
        }
        .footer {
            .footer__socials {
                max-width: 170px;
            }
        }
    }
}